extends layout

block content
  style.
    .btn-group .btn:not(:first-child) {
      margin-left: 10px;
    }

  h2 Parking Spot Heatmap

  p See your parking activity over the past month

  .btn-group
    a.btn(href='https://dash.by')
      | Login with Dash 

    a.btn(href='https://automatic.com')
      | Login with Automatic 

