doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

    h2 Parking Spot Heatmap
    p See your parking activity over the past month

    block content
